button {
  all: unset;
}

.header {
  display: flex;
  align-items: center;
  height: 46px;

}

.disabled {
  display: flex;
  align-items: center;
  height: 46px;
  opacity: 0.3;
}

.CheckboxRoot {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 40px;
  height: 40px;

  background-color: transparent; /* Изначально прозрачный фон */
  border-radius: 25px;
  outline: none;

  transition: background-color 0.3s; /* Плавное изменение цвета при наведении */

  &:active {
    background-color: var(--color-dark-100);
  }

  &:hover {
    background-color: var(--color-dark-500);
  }
}

.CheckboxIndicator {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 20px;
  height: 20px;

  border: 2px solid var(--color-light-300);
  border-radius: 4px;
}

.CheckboxRoot svg {
  margin-top: 7px;
}

.Label {
  padding-left: 15px;
  font-size: 15px;
  line-height: 1;
  color: white;
}